.button {
  display: block;
  padding: 15px;
  font-family: "PT Sans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #81b3d2;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    color: fade(#ffffff, 30%);
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
