.controller {
  background-color: transparent;
}

.controller__scale {
  position: relative;
  height: 3px;
  margin: 0 21px;
  margin-bottom: 21px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 21px rgba(0, 0, 0, 0.6);

  @media (min-width: 768px) {
    margin-left: 90px;
    margin-right: 160px;
    margin-bottom: 0;
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0.6);
  }
}

.controller__toggle {
  position: absolute;
  top: -4px;
  left: 10%;
  z-index: 1;
  display: block;
  .size(10px, 10px);
  border-radius: 50%;
  background-color: #ffffff;
}

.controller__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 10px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 83px;
    padding: 0;
    background-color: transparent;
  }
}

.controller__button {
  .size(40px, 40px);
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    .size(50px, 83px);
  }

  &--replay {
    @media (min-width: 768px) {
      justify-content: flex-end;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &--subtitle {
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &--fullscreen {
    margin-left: 10px;

    @media (min-width: 768px) {
      justify-content: flex-start;
      margin: 0;
    }
  }

  & svg {
    fill: #5c6870;

    @media (min-width: 768px) {
      fill: #ffffff;
    }
  }

  &:hover svg,
  &:focus svg {
    fill: #333333;
  }

  &:active svg {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.controller__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
