.controller {
  background-color: transparent;
}

.controller__scale {
  position: relative;
  height: 3px;
  margin: 0;
  margin-left: 21px;
  margin-right: 21px;
  margin-bottom: 21px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 21px rgba(0, 0, 0, 0.6);

  @media (min-width: 768px) {
    margin-left: 95px;
    margin-right: 169px;
    margin-bottom: 0;
    box-shadow: 0 0 0 45px rgba(0, 0, 0, 0.6);
  }

  @media (min-width: 1200px) {
    margin-right: 173px;
  }
}

.controller__toggle {
  position: absolute;
  top: -4px;
  left: 15%;
  z-index: 1;
  display: block;
  .size(10px, 10px);
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: 768px) {
    left: 28%;
  }

  @media (min-width: 1200px) {
    left: 20%;
  }
}

.controller__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding-right: 13px;
  padding-left: 13px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    height: 93px;
    padding: 0;
    background-color: transparent;
  }
}

.controller__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;

  @media (min-width: 768px) {
    width: 124px;
  }

  @media (min-width: 1200px) {
    width: 128px;
  }
}

.controller__button {
  .size(40px, 40px);
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .size(62px, 93px);
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: 768px) {
    width: 64px;
  }

  &--replay {
    @media (min-width: 768px) {
      justify-content: flex-end;
      .size(50px, 93px);
    }
  }
}

.controller__button svg {
  fill: #5c6870;

  @media (min-width: 768px) {
    fill: #ffffff;
  }
}

.controller__button:hover svg,
.controller__button:focus svg {
  fill: #333333;
}

.controller__button:active svg {
  opacity: 0.3;
}
