.form-feedback {
  margin-top: -4px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding-top: 3px;
    padding-left: 8%;
    padding-right: 8%;
  }

  @media (min-width: 1200px) {
    margin-bottom: 67px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2px;
  }
}

.form-feedback__unit {
  position: relative;
  min-width: 1px;
  margin: 0;
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  border: none;

  @media (min-width: 768px) {
    width: 100%;
    padding: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: -20px;
    left: 0;
    display: block;
    .size(100%, 1px);
    background-color: #e5e5e5;

    @media (min-width: 768px) {
      .size(19%, 1px);
      top: 13px;
      left: 0;
    }

    @media (min-width: 1200px) {
      .size(29%, 1px);
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: none;
    background-color: #e5e5e5;

    @media (min-width: 768px) {
      display: block;
      .size(19%, 1px);
      top: 13px;
      right: 0;
    }

    @media (min-width: 1200px) {
      .size(29%, 1px);
    }
  }

  &--fullname {
    margin-bottom: 25px;

    @media (min-width: 768px) {
      width: 41%;
      margin-bottom: 50px;
    }

    @media (min-width: 1200px) {
      width: 41.5%;
      margin-bottom: 48px;
    }

    &::before {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &::after {
      display: none;
    }
  }

  &--contacts {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 28px;
    }
  }

  &--impress {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      order: -1;
      width: 45%;
      margin-bottom: 50px;
    }

    @media (min-width: 1200px) {
      width: 47.5%;
      margin-bottom: 48px;
    }

    &::before {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &::after {
      .size(1px, 292px);
      top: 5px;
      right: -32px;

      @media (min-width: 1200px) {
        right: -27px;
      }
    }
  }

  &--attraction {
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 31px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 1px;
    }

    &::before {
      @media (min-width: 768px) {
        top: 23px;
      }
    }

    &::after {
      @media (min-width: 768px) {
        top: 23px;
      }
    }
  }
}

.form-feedback__title {
  position: relative;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 57px;
    font-size: 21px;
  }

  &--fullname {
    @media (min-width: 768px) {
      margin-left: 0;
      text-align: left;
    }
  }

  &--contacts {
    @media (min-width: 768px) {
      margin-bottom: 24px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 73px;
    }
  }

  &--impress {
    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &--attraction {
    @media (min-width: 768px) {
      margin-bottom: 47px;
    }
  }
}

.form-feedback__caption {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 26px;

  &--fullname {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 58px;
    margin-bottom: 20px;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 60px;
    padding-left: 24px;

    @media (min-width: 768px) {
      height: 92px;
      margin-bottom: 22px;
      margin-right: 0;
      padding-left: 20px;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      height: 60px;
      margin: 0;
      margin-bottom: 25px;
      padding-left: 0;
    }
  }

  &--contacts sup {
    line-height: 0;
  }

  &--contacts:first-child {
    @media (min-width: 1200px) {
      width: 35.5%;
    }
  }

  &--contacts:last-child {
    @media (min-width: 1200px) {
      width: 44%;
    }
  }

  &--contacts::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    display: block;
    .size(60px, 60px);
    background-color: #e6e6e6;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &--contacts:first-of-type::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--contacts:last-of-type::after {
    background-image: url("../img/icon-mail.svg");
  }

  &--impress {
    display: flex;
    flex-direction: row;
    align-items: center;
    .size(auto, 100%);
    margin: 0;
    padding-left: 75px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: none;

    @media (min-width: 1200px) {
      padding-left: 78px;
    }
  }

  &--impress::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    .size(20px, 20px);
    border: 15px solid #f2f2f2;
    border-radius: 50%;
    background-color: #f2f2f2;

    @media (min-width: 768px) {
      border: 19px solid #f2f2f2;
    }
  }

  &--attraction {
    display: flex;
    flex-direction: row;
    align-items: center;
    .size(auto, 100%);
    margin: 0;
    padding-left: 78px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: none;

    @media (min-width: 768px) {
      padding-left: 80px;
    }

    @media (min-width: 1200px) {
      padding-left: 79px;
    }
  }

  &--attraction::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    .size(55px, 55px);
    border-radius: 5px;
    background-color: #f2f2f2;

    @media (min-width: 768px) {
      .size(58px, 58px);
    }
  }

  &--attraction::after {
    position: absolute;
    content: "";
    top: 17px;
    left: 15px;
    display: none;
    .size(20px, 10px);
    border-left: 5px solid #333333;
    border-bottom: 5px solid #333333;
    transform: rotate(-45deg);

    @media (min-width: 768px) {
      top: 16px;
      left: 17px;
    }
  }
}

.form-feedback__caption-inside span {
  @media (min-width: 1200px) {
    display: none;
  }
}

.form-feedback__caption-wrapper {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-feedback__field {
  min-width: 1px;
  padding: 0;
  font-family: "PT Sans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
  background-color: #f2f2f2;
  outline: none;

  &--fullname {
    .size(100%, 26px);
    margin-left: 20px;
    padding: 16px 0;
    padding-left: 20px;

    @media (min-width: 768px) {
      margin-left: 18px;
      padding-left: 18px;
    }
  }

  &--contacts {
    .size(100%, 26px);
    margin-left: -20px;
    margin-top: 4px;
    padding: 17px 0;
    padding-left: 20px;

    @media (min-width: 768px) {
      .size(100%, 26px);
      margin-top: 6px;
    }

    @media (min-width: 1200px) {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &[type="text"]:hover {
    background-color: #e5e5e5;
  }

  &[type="text"]:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &[type="tel"]:hover {
    background-color: #e5e5e5;
  }

  &[type="tel"]:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &[type="email"]:hover {
    background-color: #e5e5e5;
  }

  &[type="email"]:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &--invalid {
    background-color: rgba(255, 0, 0, 0.3);
  }

  &--full-impress {
    .size(100%, 155px);
    margin-top: -2px;
    margin-bottom: 50px;
    padding: 15px 21px;
    resize: none;
    box-sizing: border-box;

    @media (min-width: 768px) {
      margin-bottom: 60px;
      margin-top: 0;
    }

    @media (min-width: 1200px) {
      margin-bottom: 58px;
    }
  }

  &--full-impress:hover {
    background-color: #e5e5e5;
  }

  &--full-impress:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &::placeholder {
    font: inherit;
    line-height: 26px;
    color: #000000;
    opacity: 1;
  }
}

.form-feedback__list {
  display: flex;
  flex-direction: column;
  .list;
  padding: 0 2%;

  @media (min-width: 768px) {
    padding: 0;
  }

  &--impress {
    padding-top: 5px;

    @media (min-width: 768px) {
      padding-top: 0;
    }
  }

  &--attraction {
    margin-top: -6px;
    margin-bottom: 6px;
    padding: 0 1%;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 14%;
      padding-right: 14%;
    }

    @media (min-width: 1200px) {
      justify-content: flex-start;
      padding: 0;
    }
  }
}

.form-feedback__item {
  height: 50px;

  @media (min-width: 768px) {
    height: 58px;
  }

  &--impress {
    margin-bottom: 20px;
  }

  &--attraction {
    height: 55px;
    margin-bottom: 25px;

    @media (min-width: 768px) {
      width: 44%;
      margin-bottom: 33px;
    }

    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 24.5%;
      margin-bottom: 60px;
    }
  }

  &--attraction:first-child {
    @media (min-width: 768px) {
      order: -1;
    }
  }

  &--attraction:nth-child(3) {
    @media (min-width: 768px) {
      order: -1;
    }
  }

  &--attraction:nth-child(2) {
    @media (min-width: 1200px) {
      margin-left: 10px;
    }
  }

  &--attraction:nth-child(4) {
    @media (min-width: 1200px) {
      margin-left: 0;
    }
  }

  &--attraction:nth-child(4n+1) {
    @media (min-width: 1200px) {
      justify-content: flex-start;
    }
  }

  &--attraction:nth-child(4n+4) {
    @media (min-width: 1200px) {
      justify-content: flex-end;
    }
  }
}

.form-feedback__button {
  width: 88%;
  margin: 0 6%;

  @media (min-width: 768px) {
    width: 50%;
    margin: 0;
  }
}

.form-feedback__footnote {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.form-feedback__field--impress:checked ~ .form-feedback__caption--impress::before {
  box-shadow: inset 0 0 0 10px #333333;
}

.form-feedback__field--impress:hover ~ .form-feedback__caption--impress::before,
.form-feedback__field--impress:focus ~ .form-feedback__caption--impress::before {
  border: 15px solid #e5e5e5;
  background-color: #e5e5e5;

  @media (min-width: 768px) {
    border: 19px solid #e5e5e5;
  }
}

.form-feedback__field--impress:active ~ .form-feedback__caption--impress::before {
  border: 15px solid #d5d5d5;
  background-color: #d5d5d5;

  @media (min-width: 768px) {
    border: 19px solid #d5d5d5;
  }
}

.form-feedback__field--impress:active:checked ~ .form-feedback__caption--impress::before {
  box-shadow: inset 0 0 0 10px rgba(51, 51, 51, 0.3);
}

.form-feedback__field--attraction:checked ~ .form-feedback__caption--attraction::after {
  display: block;
}

.form-feedback__field--attraction:hover ~ .form-feedback__caption--attraction::before,
.form-feedback__field--attraction:focus ~ .form-feedback__caption--attraction::before {
  background-color: #e5e5e5;
}

.form-feedback__field--attraction:active ~ .form-feedback__caption--attraction::before {
  background-color: #d5d5d5;
}

.form-feedback__field--attraction:active ~ .form-feedback__caption--attraction::after {
  opacity: 0.3;
}
