.info {
  display: flex;
  flex-direction: column;

  & svg {
    .size(100%, auto);
    background-color: @bg-color-light-blue;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.info__fact {
  margin: 0;
  padding: 0 10%;
  line-height: 26px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }
}

.info__advantage-list {
  .list();

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--part-1 {
    counter-reset: item;
  }

  &--part-2 {
    counter-reset: item 1;
  }

  &--grey {
    background-color: #eeeeee;
  }
}

.info__advantage-item {
  position: relative;
  width: 80%;
  min-height: 160px;
  padding: 30px 10%;

  @media (min-width: 768px) {
    width: 33.3%;
    min-height: 146px;
    padding: 100px 0;
  }

  &::before {
    counter-increment: item;
    position: absolute;
    content: "— № " counter(item) "  —";
    top: 70px;
    left: 50%;
    display: block;
    margin-left: -30px;

    @media (min-width: 768px) {
      top: 115px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    left: 6%;
    bottom: 0;
    display: block;
    .size(88%, 1px);
    background-color: #e9e9e9;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &--advantage-1 {
    padding-bottom: 290px;
    color: @color-white;
    background-color: @bg-color-light-blue;

    @media (min-width: 768px) {
      width: 33%;
      padding-right: 67%;
      padding-bottom: 45px;
    }

    &::before {
      @media (min-width: 768px) {
        left: 16%;
      }
    }

    &::after {
      left: 0;
      .size(100%, 256px);
      .bg-image();
      background-image: url("../../img/main-city-mobile@1x.jpg");

      @media (min-width: 768px) {
        left: auto;
        right: 0;
        display: block;
        .size(67%, 256px);
        background-image: url("../../img/main-city-mobile@1x.jpg");//переопределить изображение
      }
    }
  }

  &--advantage-2 {
    padding-bottom: 290px;
    color: @color-white;
    background-color: @bg-color-light-blue;

    @media (min-width: 768px) {
      width: 33%;
      padding-left: 67%;
      padding-bottom: 45px;
    }

    @media (min-width: 1200px) {
      & .info__advantage-description {
        margin-left: 22%;
        margin-right: 22%;
        margin-bottom: 10px;
      }
    }

    &::before {
      @media (min-width: 768px) {
        left: 83%;
      }
    }

    &::after {
      left: 0;
      .size(100%, 260px);
      .bg-image();
      background-image: url("../../img/main-bridge-mobile@1x.jpg");

      @media (min-width: 768px) {
        left: 0;
        display: block;
        .size(67%, 256px);
        background-image: url("../../img/main-bridge-mobile@1x.jpg");//переопределить изображение
      }
    }
  }

  &--advantage-5::after {
    display: none;
  }
}

.info__advantage-nomination {
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
  }
}

.info__advantage-description {
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    margin-left: 17%;
    margin-right: 17%;
  }

  @media (min-width: 1200px) {
    margin-left: 14%;
    margin-right: 14%;
  }
}

.info__service-list {
  .list();
  padding-bottom: 45px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.info__service-item {
  position: relative;
  .size(69%);
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 21%;

  @media (min-width: 768px) {
    width: 33.3%;
    padding: 0;
    padding-top: 140px;
    padding-bottom: 20px;
  }

  &--souvenir {
    @media (min-width: 768px) {
      order: 2;
    }

    @media (min-width: 1200px) {
      & .info__service-description {
        margin-left: 17%;
        margin-right: 17%;
      }
    }
  }

  &--food {
    @media (min-width: 768px) {
      order: 1;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 21%;
    display: block;
    .size(40px, 40px);
    margin-left: -50px;
    .bg-image(contain);

    @media (min-width: 768px) {
      top: 60px;
      left: 50%;
      .size(76px, 76px);
      margin-left: -38px;
    }
  }

  &--hotel::before {
    background-image: url("../../img/icon-house.svg");
  }

  &--souvenir::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../../img/icon-burger.svg");
  }
}

.info__service-nomination {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @color-black;

  @media (min-width: 768px) {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    text-align: center;
  }
}

.info__service-description {
  margin: 0;

  @media (min-width: 768px) {
    margin-left: 17%;
    margin-right: 17%;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-left: 14%;
    margin-right: 14%;
  }
}
