.info {
  display: flex;
  flex-direction: column;

  & svg {
    .size(100%, auto);
    background-color: @bg-color-light-blue;
  }
}

.info__fact {
  position: relative;
  margin: 0;
  padding: 0 10%;
  line-height: 26px;
  text-align: center;
}

.info__advantage-list {
  .list();

  &--part-1 {
    position: relative;
    counter-reset: item;
  }

  &--part-2 {
    counter-reset: item 1;
  }

  &--grey {
    background-color: #eeeeee;
  }
}

.info__advantage-item {
  position: relative;
  .size(80%);
  padding: 30px 10%;

  &::before {
    counter-increment: item;
    position: absolute;
    content: "— № " counter(item) "  —";
    top: 70px;
    left: 50%;
    display: block;
    margin-left: -30px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 6%;
    bottom: 0;
    display: block;
    .size(88%, 1px);
    background-color: #e9e9e9;
  }

  &--advantage-1 {
    padding-bottom: 290px;
    color: @color-white;
    background-color: @bg-color-light-blue;

    &::after {
      left: 0;
      .size(100%, 260px);
      .bg-image();
      background-image: url("../../img/main-city-mobile@1x.jpg");
    }
  }

  &--advantage-2 {
    padding-bottom: 290px;
    color: @color-white;
    background-color: @bg-color-light-blue;

    &::after {
      left: 0;
      .size(100%, 260px);
      .bg-image();
      background-image: url("../../img/main-bridge-mobile@1x.jpg");
    }
  }

  &--advantage-5::after {
    display: none;
  }
}

.info__advantage-nomination {
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.info__advantage-description {
  margin: 0;
  text-align: center;
}

.info__service-list {
  .list();
  padding-bottom: 45px;
}

.info__service-item {
  position: relative;
  .size(69%);
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 21%;

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 21%;
    display: block;
    .size(40px, 40px);
    margin-left: -50px;
    .bg-image(contain);
  }

  &--hotel::before {
    background-image: url("../../img/icon-house.svg");
  }

  &--souvenir::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../../img/icon-burger.svg");
  }
}

.info__service-nomination {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @color-black;
}

.info__service-description {
  margin: 0;
}
