.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 37px 8%;
  }

  @media (min-width: 1200px) {
    padding-left: 11%;
    padding-right: 11%;
  }
}

.page-footer__hash {
  min-width: 130px;
  margin: 37px auto;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 130px;
  margin-top: 40px;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    margin-right: -90px;
    padding-left: 90px;
  }
}

.page-footer__copyright-link:hover path,
.page-footer__copyright-link:focus path {
  fill: #81b3d2;
}

.page-footer__copyright-link:active path {
  fill: #000000;
  opacity: 0.3;
}
