.page {
  margin: 0;
  font-family: "PT Sans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: @color;
  text-transform: uppercase;
  background-color: @bg-color;
}

.page__wrapper {
  @media (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0.2), -5px 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}

.page__modal {
  width: 100%;
  min-height: 250px;
}
