.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-header__logo {
  .size(102px, 56px);

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }

  @media (min-width: 1200px) {
    .size(188px, 56px);
    margin-left: -94px;
  }
}

.page-header__logo-img {
  position: relative;
  z-index: 1;
  .size(102px, 83px);

  @media (min-width: 1200px) {
    .size(187px, 97px);
  }
}

.page-header__nav {
  order: -1;
  width: 100%;

  @media (min-width: 768px) {
    height: 56px;
  }
}

.page-header__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .size(100%, 390px);
  background-color: #81b3d2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  .bg-image();

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    height: 515px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    .size(100%, 40%);
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-width: 768px) {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @media (min-width: 1200px) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  &--inner {
    height: 160px;
    background-position: 50% 100%;
    background-size: 240%;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      height: 290px;
      background-size: cover;
    }

    @media (min-width: 1200px) {
      height: 305px;
    }
  }
}

.page-header__intro-img {
  .size(282px, 214px);

  @media (min-width: 768px) {
    .size(460px, 350px);
  }
}

.page-header__intro--inner .page-header__intro-img {
  .size(229px, 39px);

  @media (min-width: 768px) {
    .size(458px, 78px);
  }

  @media (min-width: 1200px) {
    .size(461px, 79px);
  }
}
