.search__start {
  margin: 27px auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @color-black;
}

.search__guide {
  padding: 0 9%;
  text-align: center;
}

.search__button {
  margin: 40px 9%;
}

.search__map {
  .size(100%, 475px);
}
