.search__start {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;

  @media (min-width: 768px) {
    margin-bottom: 30px;
    margin-top: 55px;
    font-size: 30px;
  }
}

.search__guide {
  max-width: 460px;
  margin: 0 auto;
  padding: 0 9%;
  text-align: center;

  @media (min-width: 768px) {
    padding: 0 21%;
    line-height: 24px;
  }
}

.search__button {
  margin: 40px 7%;

  @media (min-width: 768px) {
    max-width: 430px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 55px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 70px;
  }
}

.search__map {
  .size(100%, 360px);

  @media (min-width: 768px) {
    .size(100%, 350px);
  }

  @media (min-width: 1200px) {
    .size(100%, 345px);
  }
}
