.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  .list();
}

.social__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .size(47px, 47px);
  background-color: #81b3d2;

  & path {
    fill: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & path {
      fill: #94b9d2;
    }
  }
}
